@import 'setup.scss';

$color: linear-gradient(to top, #30cfd0 0%, #330867 100%);

html {
  font-size: 62.5%;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.container {
//    width: 79.68%;
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    margin: 5% auto;
}

body { 
    font-size: 2.5rem;
    color: white;
    line-height: 1.6;
    background-image: $color;
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}

form select.hidden {
    display: none;
}


fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

input[type=radio] {
    opacity:0;
    position: absolute;
}

.genre label {
    position: relative;
    display: inline-block;
    background: none;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  250px;
    width: 30%;
    margin: 25px auto;
}

input:checked + label {
    border:3px solid white;
}   

input:focus + label,
label:hover,
input[type=submit]{
    color: white;
    background: midnightblue;
}

input[type=submit], 
.year select {
    width: 25%;
    margin: 0 auto;
}

.year{
    justify-content: space-between;
    margin: 0 auto;
}