@import 'setup.scss';

// COMMON VARIABLES
$background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
$josefin: 'Josefin Sans', sans-serif;

// // MIXINS
// @mixin for-phone-only {
//   @media (max-width: 599px) { @content; }
// }
// @mixin for-tablet-portrait-up {
//   @media (min-width: 600px) { @content; }
// }
// @mixin for-tablet-landscape-up {
//   @media (min-width: 900px) { @content; }
// }

// GENERAL STYLES
html {
  font-size: 62.5%;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  font-family: $josefin;
  font-weight: normal;
    color: white;
}

body { 
    font-size: 2.5rem;
    color: white;
    line-height: 1.6;
    background-image: $background;
    background-position: cover;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// HEADER STYLES
header {
    text-align: center;
    margin: 2% auto;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

//FORM AND INPUT STYLES
form select.hidden {
    display: none;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

input[type=radio] {
    opacity:0;
    position: absolute;
}

.genre label {
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  250px;
    width: 30%;
    margin: 25px auto;
}

.genre span {
    display: block;
}
input:checked + label {
    border:3px solid white;
    background: midnightblue;
}   

input:focus + label,
label:hover {
    color: white;
    background: midnightblue;
}

@media (max-width: 940px) {
    .genre { 
        flex-direction: column;
    }

    .genre label {
        width: 60%;
    }
}
    

// DROPDOWN STYLES
.year {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    select{
        appearance: none;
        width: 30%;
        height: 50px;        
        text-align: center;
        background: url('noun_1453451_cc.png');
        background-repeat: no-repeat;
        background-position: 95% center;
        border: 2px solid white;
        color: white;
        margin: 5px;
    }
}

input[type=submit] {
    width: 30%;
    margin: 0 auto;
    height: 50px;  
    background: none;
    border: 2px solid white;
    color: white;
}

// RESULT CONTAINER STYLES
.tv-results {
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;;
    div {
        padding: 1%;
    }
}

// added for maximum amount of characters for the overview text to ensure consistincy
.tv-results p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;

}

.image-container{
    height: 600px;
    max-width: 500px;
}

// BUTTON STYLES
// .pick-again {
    
// }

// .random

// FOOTER STYLES
footer {
    border-top: 1px dotted white;
    text-align: center;  
}


